<?php echo $this->partial('csn-user/layout/nav-menu', array('navMenu' => $this->navMenu)); ?>
<hr />
<div class="jumbotron">
<h2>Sign up</h2>
<?php

$form = $this->form;
$form->setAttribute('action', $this->url('registration'));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('Username'));
echo '<br />';

/* Choose to display displayName or firstName and lastName*/

/*echo $this->formRow($form->get('firstName'));
echo '<br />';
echo $this->formRow($form->get('lastName'));
echo '<br />';*/
echo $this->formRow($form->get('DisplayName'));
echo '<br />';
echo $this->formRow($form->get('Email'));
echo '<br />';
echo $this->formRow($form->get('Password'));
echo '<br />';
echo $this->formRow($form->get('passwordConfirm'));
echo '<br />';
echo '<div style="width: 270px">';
echo $this->formRow($form->get('captcha'));
echo '</div>';
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>
</div>
