<?php echo $this->partial('csn-user/layout/nav-menu', array('navMenu' => $this->navMenu, 'user' => $this->identity())); ?>
<hr />
<div class="jumbotron">
<?php 
if($user = $this->identity()) {
 ?>
<h1 style="float:left;">Welcome <a href="<?php echo $this->url('editProfile');?>"><span class="zf-green"><?php echo $this->escapeHtml($user->getUsername()); ?></span></a></h1>
<a href="<?php echo $this->url('logout');?>" class="btn btn-success btn-lg" style="float:right; margin-top: 25px"><?php echo $this->translate('Logout'); ?></a>
<div style="clear: both"></div>
Congratulations! You have successfully logged in <a href="https://github.com/coolcsn/CsnUser">CsnUser</a>.

<?php 
}else{
?>
	<h1>Welcome <span  style="color: #FF8C00">Guest</span>!</h1>
	This is the user page of <a href="https://github.com/coolcsn/CsnUser">CsnUser</a>. Please follow the buttons at the top to navigate through the system.
<?php
}
?>
</div>