<?php echo $this->partial('csn-user/layout/nav-menu', array('navMenu' => $this->navMenu)); ?>
<hr />
<div class="jumbotron">
<h2>Log in</h2>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('login'));
$form->setAttribute('class', 'form-signin');
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formRow($form->get('usernameOrEmail'));
echo $this->formRow($form->get('Password'));
echo '<br />';
echo $this->formRow($form->get('rememberme'));
echo '<br />';
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
?>
<p>
	<a href="<?php echo $this->url('registration');?>"><?php echo $this->translate('Sign up'); ?></a> |  
	<a href="<?php echo $this->url('forgotten-password');?>"><?php echo $this->translate('Forgot your password?'); ?></a>
</p>
<br/>
<?php echo '<div style="font-size: 20px; color: red;">' . $this->messages . '</div>'; ?>
</div>
