<div class="row">
	<?php
	$form = $this->form;
	$form->prepare();
	echo $this->form()->openTag($form);
	echo $this->formHidden($form->get('security'));
	$error=$form->getMessages();
	$profile_pic="/assets/avatars/user.jpg";
	if($this->identity()->getProfilePic()!=null)
	{
		$profile_pic="/img/ppic/".$this->identity()->getProfilePic();
	}
	?>
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<div class="user-profile row" id="user-profile-1">
					<div class="col-xs-12 col-sm-3 center">
						<div><br>
							<span class="profile-picture">
								<img id="avatar" class="editable img-responsive" alt="<?php echo $this->identity()->getDisplayName();?>" src="<?php echo $profile_pic; ?>" />
							</span>

							<div class="space-4"></div> 

							<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
								<div class="inline position-relative">
									<a data-toggle="dropdown" class="user-title-label dropdown-toggle" href="#">
										<i class="icon-circle light-green middle"></i>
										&nbsp;
										<span class="white"><?php echo $this->Username;?></span>
									</a>
								</div>
							</div>
						</div>

						<div class="space-6"></div>

					</div>

					<div class="col-xs-12 col-sm-9">
						

						<div class="space-12">
						
						</div>
						<?php
						$messages=$this->flashMessenger()->getMessages();
						if(!empty($messages))
						{
							$string="<div class='alert-block alert-success' style='padding:5px;margin: 0 12px;'>";
							foreach ($messages as $msg)
							{
								$string.=$msg."<br>";
							}
							$string.="</div><br>";
							echo $string;
						}
						?>
						<div class="profile-user-info profile-user-info-striped">
							<div class="profile-info-row <?php if(!empty($error['DisplayName'])){?>has-error<?php }?>">
								<div class="profile-info-name"> Name </div>

								<div class="profile-info-value">
									<?php  
										echo $this->FormElement($form->get('DisplayName')) ."&nbsp;&nbsp;". $this->formElementErrors()
										->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
										->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
										->setMessageCloseString('</div>')
										->render($form->get('DisplayName'));
									 ?>
								</div>
							</div>
							<div class="profile-info-row <?php if(!empty($error['Email'])){?>has-error<?php }?>">
								<div class="profile-info-name"> Email </div>

								<div class="profile-info-value">
									<?php  
										echo $this->FormElement($form->get('Email')) ."&nbsp;&nbsp;". $this->formElementErrors()
										->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
										->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
										->setMessageCloseString('</div>')
										->render($form->get('Email'));
									 ?>
								</div>
							</div>

							<div class="profile-info-row <?php if(!empty($error['DateFormat'])){?>has-error<?php }?>">
								<div class="profile-info-name"> Date Format </div>

								<div class="profile-info-value">
									<?php  
										echo $this->FormElement($form->get('DateFormat')) ."&nbsp;&nbsp;". $this->formElementErrors()
										->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
										->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
										->setMessageCloseString('</div>')
										->render($form->get('DateFormat'));
									 ?>
								</div>
							</div>
							
							<div class="profile-info-row <?php if(!empty($error['LandingPage'])){?>has-error<?php }?>">
								<div class="profile-info-name">Default Landing Page </div>

								<div class="profile-info-value">
									<?php  
										echo $this->FormElement($form->get('LandingPage')) ."&nbsp;&nbsp;". $this->formElementErrors()
										->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
										->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
										->setMessageCloseString('</div>')
										->render($form->get('LandingPage'));
									 ?>
								</div>
							</div>
							
							<div class="profile-info-row <?php if(!empty($error['ProfilePic'])){?>has-error<?php }?>">
								<div class="profile-info-name"> Profile Picture </div>

								<div class="profile-info-value"  style="height:43px;">
									<div style="width:200px; display:inline-block;">
									<?php  
										echo $this->FormElement($form->get('ProfilePic')) ."&nbsp;&nbsp;". $this->formElementErrors()
										->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
										->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
										->setMessageCloseString('</div>')
										->render($form->get('ProfilePic'));
									?>
									</div>
									<span title="" data-content="Max size 40px X 40px" data-placement="right" data-trigger="hover" data-rel="popover" class="help-button" data-original-title="Profile Picture" style="font-size:16px;vertical-align: top;margin-top:3px;">?</span>
								</div>
							</div>
						</div>

						
						<div class="space-12"></div>
                        <?php if(!empty($force_change_password)) { ?>
                            <div class="alert alert-warning " style="width: 98%;margin-left: 12px;">Your password is expired, please reset</div>
                        <?php }?>
						<div class="profile-user-info profile-user-info-striped">
							<div class="profile-info-row <?php if(!empty($error['currentPassword'])){?>has-error<?php }?>">
								<div class="profile-info-name"> Password </div>
								<div class="profile-info-value">
									<?php  
										echo $this->FormElement($form->get('currentPassword')) ."&nbsp;&nbsp;". $this->formElementErrors()
										->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
										->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
										->setMessageCloseString('</div>')
										->render($form->get('currentPassword'));
									?>
								</div>

							</div>
							<div class="profile-info-row <?php if(!empty($error['newPassword'])){?>has-error<?php }?>">
								<div class="profile-info-name"> New Password </div>

								<div class="profile-info-value">
									<?php  
										echo $this->FormElement($form->get('newPassword')) ."&nbsp;&nbsp;". $this->formElementErrors()
										->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
										->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
										->setMessageCloseString('</div>')
										->render($form->get('newPassword'));
									 ?>
								</div>
							</div>

							<div class="profile-info-row <?php if(!empty($error['newPasswordConfirm'])){?>has-error<?php }?>">
								<div class="profile-info-name"> Confirm</div>

								<div class="profile-info-value">
									<?php  
										echo $this->FormElement($form->get('newPasswordConfirm')) ."&nbsp;&nbsp;". $this->formElementErrors()
										->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
										->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
										->setMessageCloseString('</div>')
										->render($form->get('newPasswordConfirm'));
									 ?>
								</div>
							</div>

						</div>

						<div class="space-6"></div>

						<div class="center">
							<button class="btn btn-sm btn-primary" type="submit">
								<span class="bigger-110">Update</span>
								<i class="icon-on-right icon-arrow-right"></i>
							</button>
						</div>
					</div>
				</div>
								
			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div>
	<script>
	jQuery(function($) {
		 $('[data-rel=popover]').popover({container:'body'});

		 <?php if(!empty($messages)) { ?>
         var d = new Date();
         localStorage.setItem("refresh", "doit <==>"+d.getTime());
		 <?php } ?>

	});
	</script>