<div class="row">
	<?php
	$form = $this->form;
	$form->prepare();
	echo $this->form()->openTag($form);
	echo $this->formHidden($form->get('security'));
	$error=$form->getMessages();
	
	?>
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->
			<div class="user-profile row" id="user-profile-1">
				<div class="col-xs-12 col-sm-2"></div>
				<div class="col-xs-12 col-sm-9">
					<div class="space-12"></div>
					<?php
					$messages=$this->flashMessenger()->getMessages();
					if(!empty($messages))
					{
						$string="<div class='alert-block alert-success' style='padding:5px;margin: 0 12px;'>";
						foreach ($messages as $msg)
						{
							$string.=$msg."<br>";
						}
						$string.="</div><br>";
						echo $string;
					} 
					?>
					<div class="profile-user-info profile-user-info-striped">			
						<div class="profile-info-row <?php if(!empty($error['CurrencyCode'])){?>has-error<?php }?>">
							<div class="profile-info-name">Report Currency</div>
							<div class="profile-info-value">
								<?php  
									echo $this->FormElement($form->get('CurrencyCode')) ."&nbsp;&nbsp;". $this->formElementErrors()
									->setMessageOpenFormat('<div class="help-block col-xs-12 col-sm-reset inline">')
									->setMessageSeparatorString('</div><div class=""help-block col-xs-12 col-sm-reset inline">')
									->setMessageCloseString('</div>')
									->render($form->get('CurrencyCode'));
								 ?>
							</div>
						</div>
						<div class="profile-info-row ">
							<div class="profile-info-name" style="background:#fffffff">&nbsp;</div>
							<div class="profile-info-value">
								<a class="btn btn-xs btn-primary acer" href="Javascript: void(0);" title="Add Custom Exchange Rates">
									<i class="icon-plus align-top bigger-125"></i> Add Custom Exchange Rates
								</a>
								<p>Add Exchange Rates into New Rate field. The Rate is the amount you multiple Original Currency by to convert the value into the Display Currency</p>
							</div>	
						</div>	
						<div class="profile-info-row _cc_listings" style="display:none">
							<div class="profile-info-name" style="background:#fffffff">&nbsp;</div>
							<div class="profile-info-value" id="_cc_listings">
							</div>	
						</div>	
					</div>
					<?php
					if(count($this->userEmailAlertData) > 0)
					{
					?>
					<div class="profile-user-info profile-user-info-striped">			
						<div class="profile-info-row <?php if(!empty($error['CurrencyCode'])){?>has-error<?php }?>">
							<div class="profile-info-name">Email Alerts</div>
							<div class="profile-info-value">
								<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Event</th>
										<th>Active</th>
									</tr>
								</thead>
								<tbody>
									<?php
									$j=0;
									
									foreach ($this->userEmailAlertData as $row)
									{
									?>
										<tr>
											<td>
												<?php echo $row['DisplayName']?>
												<input type="hidden" name="EmailAlertSettings[<?php echo $j;?>][event]" value="<?php echo $row['event'];?>" />
												<input type="hidden" name="EmailAlertSettings[<?php echo $j;?>][show]" value="1" />
											</td>
											<td>
												<label class="inline  pull-center">
													<input type="checkbox" class="ace ace-switch ace-switch-4" name="EmailAlertSettings[<?php echo $j;?>][active]" <?php if(!empty($this->data)){if(!empty($this->data['EmailAlertSettings'][$j]['active'])){?>checked<?php }}else{if(!empty($row['active'])){echo "checked";}}?>>
													<span class="lbl"></span>
												</label>
											</td>
										</tr>
									<?php
									$j++;
									}
									?>
									</tbody>
								</table>
							</div>
						</div>
					</div>	
					<?php
					}
					?>
					<div class="space-6"></div>
					<div class="center">
						<button class="btn btn-sm btn-primary" type="submit">
							<span class="bigger-110">Update</span>
							<i class="icon-on-right icon-arrow-right"></i>
						</button>
					</div>
				</div>
			</div>					
			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div>
	