<?php
	$title="User Alerts";
	$this->headTitle($title);
?>
<div class="page-header">
	<h1>
		<?php echo $title;?>
	</h1>
</div><!-- /.page-header -->


<div class="space-8"></div>
<?php
$messages=$this->flashMessenger()->getMessages();
if(!empty($messages))
{
	$string="<div class='alert-block alert-success' style='padding:5px 10px;margin: 0px;'>";
	foreach ($messages as $msg)
	{
		$string.=$msg."<br>";
	}
	$string.="</div><br>";
	echo $string;
}
?>

<div class="col-xs-12">
	
	<form  method="post" name="group" role="form" class="form-horizontal" id="frm-alerts">
	<div class="form-group">
		<div class="widget-box col-xs-12 col-sm-12">
			<div class="widget-header">
			<h5 class="widget-title bigger lighter">User Alerts</h5>
			<div class="widget-toolbar">
				<a data-action="collapse" href="#">
					<i class="ace-icon fa fa-chevron-up"></i>
				</a>
			</div>
		</div>
			<div class="widget-body">
				<div class="widget-main" style="overflow-y: auto;">
				<?php if(!empty($this->allalerts)) {
					$r=0;
				?>
				<?php foreach($this->allalerts as $k=>$rows) {?>
		
					<div class="accordion-style1 panel-group" id="podl<?php echo $r;?>">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#podlcollapse<?php echo $r;?>" data-parent="#podl<?php echo $r;?>" data-toggle="collapse" class="accordion-toggle collapsed"><i data-icon-show="ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" class="ace-icon fa fa-angle-down bigger-110"></i>
								&nbsp;<?php echo $this->myHelper("Index",'fromCamelCase','Administrator',$k);?> </a></h4>
							</div>
							<div id="podlcollapse<?php echo $r?>" class="panel-collapse collapse" >
								<div class="panel-body" style="padding: 1px 0 0;">
									<ul class="col-sm-12 ui-sortable fields-sortable" >
									<?php
										$j=0;
										foreach ($rows as $name) {  
									?>
										<li class="widget-container-span col-lg-4 col-sm-6" >
											<label class="inline" for="chk_<?php echo $r.$j;; ?>" style="padding-left:25px;">
												<span class="lbl"> <?php echo $name;?></span>
											</label>
											<label class="inline  pull-right">
												<input type="checkbox" id="chk_<?php echo $r.$j; ?>" class="ace ace-switch ace-switch-4" name="alerts[]" value="<?php echo $name;?>" <?php if(!empty($this->data['alerts']) && in_array($name, $this->data['alerts'])) { echo "checked"; }?> >
												<span class="lbl"></span>
											</label>
										</li>
									<?php $j++;} ?>
									</ul>
								</div>	
							</div>	
						</div>	
					</div>
					<?php $r++;}?>
					<?php }?>
					<div class="accordion-style1 panel-group" >
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#poda" data-parent="#poda" data-toggle="collapse" class="accordion-toggle"><i data-icon-show="ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" class="ace-icon fa fa-angle-down bigger-110"></i>
								&nbsp;Manage PO Delay & Actual </a></h4>
							</div>
							<div id="poda" class="panel-collapse" >
								<div class="panel-body" style="padding: 1px 0 0;">
									<ul class="col-sm-12 ui-sortable fields-sortable" >
										<li class="widget-container-span col-xs-12 col-sm-6" >
											<label class="inline" for="chk_podelay" style="padding-left:25px;">
												<span class="lbl"> PODelay</span>
											</label>
											<label class="inline  pull-right">
												<input type="checkbox" id="chk_podelay" class="ace ace-switch ace-switch-4" name="PODelay" value="1" <?php if(!empty($this->data['PODelay'])) { echo "checked"; }?> >
												<span class="lbl"></span>
											</label>
										</li>
										<li class="widget-container-span col-xs-12 col-sm-6" >
											<label class="inline" for="chk_poactual" style="padding-left:25px;">
												<span class="lbl" > POActual</span>
											</label>
											<label class="inline  pull-right">
												<input type="checkbox" id="chk_poactual" class="ace ace-switch ace-switch-4" name="POActual" value="1" <?php if(!empty($this->data['POActual'])) { echo "checked"; }?> onclick="showCps(this);" >
												<span class="lbl"></span>
											</label>
											
										</li>
									</ul>
									<div id="poactual" style="margin-top: 20px;margin-bottom: 20px;" class="col-sm-12 col-md-8 col-md-offset-2">
										<?php if(!empty($this->allcps) ) { ?>
										<ul class="col-sm-12 ui-sortable fields-sortable" id="chkcps" style="display:<?php if(!empty($this->data['POActual'])) { echo "block"; } else { echo "none"; } ?>" >
											<?php 
											$k=0;
											foreach($this->allcps as $cpname) {
											?>	
											<li class="widget-container-span col-xs-12 col-sm-6">
												<label class="inline" for="cpchk_<?php echo $k;; ?>" style="padding-left:25px;">
													<span class="lbl"> <?php echo $cpname;?></span>
												</label>
												<label class="inline  pull-right">
													<input type="checkbox" id="cpchk_<?php echo $k; ?>" class="ace ace-switch ace-switch-4" name="alertevents[]" value="<?php echo $cpname;?>" <?php if(!empty($this->data['alertevents']) && in_array($cpname, $this->data['alertevents'])) { echo "checked"; }?> >
													<span class="lbl"></span>
												</label>
											</li>
											<?php $k++;}?>
										</ul>
										<?php }?>
									</div>
								</div>		
							</div>
						</div>
					</div>	
					
				</div>
			</div>
		</div>	
	</div>
	<div class="space-6"></div>

	<div class="row center clearfix form-actions">
		<?php if($this->isadmin=="1") {?>
		<button class="btn btn-lg"  type="button" onclick="window.location='<?php echo $this->ServerUrl();?>/administrator/users/page/<?php echo $this->page?>';"><i class="ace-icon fa fa-arrow-left  fa-on-left bigger-110"></i>
					Back
		</button>
		<?php }?>
		<button class="btn btn-lg btn-success" type="submit">
			<i class="ace-icon fa fa-check"></i>
			Save
		</button>
	</div>
	</form>
</div>
<div class="space-8"></div>
<div class="col-sm-12">&nbsp;</div>

<script type="text/javascript">
function showCps(obj) {
	if($(obj).prop('checked')===true) {
		$('#chkcps').show();
		
	} else {
		$('#chkcps').hide();
	}
}
</script>

<style>
.fields-sortable li {
    cursor: default;
}
.panel-group {
    margin-bottom: 10px;
}
</style>